<!--
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version
-->

<!-- This brings in the CSS-->
{% extends "application/layout.html" %}
{% load static %}
{% block body %}

<!--Get the various stylesheets I need like my fonts and CSS-->
<div class=sideNav>
    <div class=fadeSmall>
        <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="{% static 'application/images/CityLogoWhite-01.png' %}">
        <h1><b>One Last Thing!</b></h1>
        <p>Get Foco sent some pretty important emails. We'll notify you when it's time to reapply for a specific program or when you've been approved. We won't ever spam you with any unwanted emails.</p>
        
        <div class ="usefulQuery" style="text-align: center;  position: fixed;bottom: 20px; "> <!-- display: block; margin-left: auto; margin-right: auto; width: 50%; -->
            <p style="font-size: 15px; text-align: center; padding-right: 3%;">Is This Page Useful?</p>
            <button class="button buttonThumbs" id="toggle-button1">
                <img src="{% static 'dashboard/images/thumbsup.png' %}" style="width:30px;   display: inline-block;margin-left: auto;margin-right: auto;">
            </button>
            <button class="button buttonThumbs" id="toggle-button2">
                <img src="{% static 'dashboard/images/thumbsdown.png' %}" style="width:30px; display: inline-block;margin-left: auto;margin-right: auto;">
            </button>
            <div class="usefulQuery extended">
                <form>
                    <textarea name="isPageUseful" rows="10" style="margin-left: 15%;">Tell us more!</textarea>
                    <div style="padding-left:40%;">
                        <input type="submit" value="Submit" style="background: var(--darkblue); color: #fff; border: 1px solid #eee; border-radius: 10px; text-shadow: none; font-size: 20px;">
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<div class="margin-top: 2vh;">
    <!--NOTE: For the future have numbers change based on database-->
    <br>
    <br>
    
    <h1><b>We sent you an email and a text!</b></h1>
    <br>
    <br>
    <p>Check the email at {{program_string}}.</p>
    <p>Be sure to check your spam folder!</p>
    <br>
    <p>Didn't get an email from us?</p>
    
    <br>

    <div class="fadeLarge"><a class=yellow href="{% url 'dashboard:broadcast' %}" style="font-size: 2vw;"><u>Click here to re-send it!</u></a></b></div>
    <div class="fadeSmall"><a href="{% url 'dashboard:broadcast' %}" style="font-size: 2vw;"><u>Click here to re-send it!</u></a></b></div>
        <!--Whatever I need in the other pages, I can enter it here-->

    <br>
    <br>
    <br>

    <!-- <button onclick="location.href='{% url 'dashboard:dashboard' %}'"> CONTINUE </button>-->

    <button onclick= quickApplyAlert()> CONTINUE </button>
</div>

<script>
    function quickApplyAlert(){
        alert("On the next page, click on Quick-Apply for any programs you qualify for to sign up for rebates!")
        window.location ='GetFOCO';
        }
</script>

<script>
    document.querySelector('#toggle-button1').addEventListener('click', function() 
    {
      document.querySelector('.usefulQuery.extended').classList.toggle('collapsed');
    });
  </script>

{% endblock %}




